html, body {
    height: 100%;
}


body {
    background-image: url(img/joris-coulomb-bike-check.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    margin: 0 auto;
    height: 220px;
    width: 725px;
    background-color: rgba(168, 10, 10, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.logo__img {
    width: 140px;
    height: 140px;
    filter: invert(100%);
}

.logo__line {
    display: block;
    height: 145px;
    width: 10px;
    border-radius: 10px;
    background-color: white;
}

.logo__text {
    font-family: "Sofia", sans-serif;
    font-size: 140px;
    color: white;
}

.title {
    font-size: 65px;
    color: white;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.6);
    text-align: center;
}

.links {
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.6);
    font-size: 30px;
}

.socials__logo {
    height: 25px;
    width: 25px;
}

.socials__logo--invers {
    filter: invert(100%);
}

.socials__list {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.socials__link {
    text-decoration: none;
    color: white;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    gap: 2px;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 767px) {

    body {
        background-position: center;
    }

    .logo {
    height: 110px;
    width: 285px;
    gap: 15px;
    }

    .logo__img {
    width: 55px;
    height: 55px;
    }

    .logo__line {
        height: 70px;
        width: 5px;
    }

    .logo__text {
        font-size: 55px;
    }

    .title {
        font-size: 40px;
    }

    .links {
        text-align: center;
        text-decoration: none;
        color: white;
        text-shadow: 2px 4px 6px rgba(0,0,0,0.6);
        font-size: 20px;
    }

    .socials__list {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    body {
        background-position: center;
    }

    .socials__list {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
}